*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .box-model{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid #333;
    margin: 30px;
  }

  .rgb{
      background: rgb(199, 62, 62);
      color: #ddd;
      padding: 10px;
  }

  .container{
      position: relative;
      width: 100%;
      border: 2px solid #000;
      top: 10%;
  }

  .container .bar{
      position: absolute;
  }

  .container .bar:nth-child(1){
      width: 200px;
      height: 250px;
      background: green;
      z-index: 10;
  }

  .container .bar:nth-child(2){
    width: 200px;
    height: 250px;
    background: red;
    z-index: 20;
    left: 3%;
    margin-top: 2%;
}

.container .bar:nth-child(3){
    width: 200px;
    height: 250px;
    background:orange;
    z-index: 30;
    left: 6%;
    margin-top: 4%;
}

